.Gif-list-item {
  height: 210px;
  margin: 20px 5px 0 0;
  position: relative;
  width: 210px;
}

.Gif-list-item p {
  background-color: rgba(0, 0, 0, 0.795);
  bottom: 0;
  font-size: 10px;
  margin: 0;
  position: absolute;
  width: 100%;
}

.Gif-list-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}